*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* navigation bar */

.navbar{
    height: 200px;
    background-color: rgb(0, 0, 25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    
}

/* Navigation Call logo */
.nav-call{
    height: 100px;
    width: 200px;
   
}

.call-logo{
    
    background-color:transparent;
    align-items: center;
    display: flex; 
}

.call-logo p{
    margin-left: 15px;
    font-size: 15px;
    color: #cea135;
}

.call-logo i{
    font-size: 30px;
    color: #cea135;
    margin-top: 20px;
 
} 
.call-logo2 {
    margin-left: 40px;
    margin-bottom: 70px;
}

.call-logo2 p{
    margin-bottom: 10px;
    font-size: 13px;
    color: #cea135;
}

/* Navigation logo */

 
.nav-picture{
    height: 100%;
    width: 220px;
    justify-content: center;
    padding-right: 40px;
}



.picture{
    background-image: url("navbarpicture.png");
    height: 200px;
    width: 250px;
    background-size: cover;
    background-color: transparent;
    
} 

/* Options like Menu Home contact About */

.head-options{
    height: 150px;
    background-color: #000019;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.options{
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
   
}

.options a{
    padding: 30px 40px;
    color: white;
    text-decoration: none;
    transition:0.2s;
    margin: 25px;
}

.options a:hover{
    color:rgb(221, 177, 0);
    letter-spacing: 2px;
    transform: all 0.5s;
}

.options-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.address-sec{
    display: flex;
    color: white;
}
.address-sec i{
    color: #cea135;
    margin-right: 10px;
    transition:0.2s;
    font-size: 25px;
}

.address-sec i:hover{
    color:rgb(221, 177, 0);
  
}

.address-sec p{
    color: #cea135;
    font-size: 12px;
    transition: 0.2s;
}

.address-sec p:hover{
    color:rgb(221, 177, 0);
    transform: color 0.5s;
}

/* hero Section */

.hero-section{
    background-image: url("heroimage.jpg");
    height:450px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 100px;
    background-repeat: no-repeat;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman', Times, serif;
}

/* top heading color */
.top-heading{
    background-color: #11122b;
    width: 250px;
    color: white;
    text-align: center;
    padding: 1px 20px;
}

/* Bottom heading */
.bottom-heading{
    width: 200px;
    background-color: red;
    text-align: center;
    padding: 1px 20px;
    color: white;
}

/* Features section */

.features-section{
    height: 300px;
    background-image: url("secondbackground.jpg");
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px -33px 53px -25px rgba(0,0,0,0.84) inset;
}

.column-section{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


/* column styles */


.column{
    padding: 20px;
    margin: 42px;
    border-bottom:solid 5px transparent;
    text-align: center;
    border-radius: 10px;
    transition: 1s;
}

.column i{
    font-size: 45px;
}

.column p{
    font-size: 20px;
}
.column:hover{
    border-bottom:solid 5px #11122b;

}

.column-section:nth-child(1){
    font-size: 10px;
    font-weight:bold;
}

.column-section:nth-child(2){
    font-size: 8px;
    
}

/* Footer section */

.footer-panel{
    height: 400px;
    background-color: #11122b;
    /* color: white; */
    margin-top: -4px;
}
.foot-sec{
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-image{
    background-image: url("navbarpicture.png");
    height: 200px;
    width: 250px;
    background-color: transparent;
    background-size: cover;
    /* color: #cbcbcb; */
}

.phone-Time{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}
.phone p{
    margin-right: 20px;
    font-size: 12px;
}

.time{
    color: #cea135;
    font-size: 13px;
}

/* Footer anchor option */

.options{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.options a{
    padding: 20px 25px;
    color: whitesmoke;
    text-decoration: none;
    transition:0.2s;
}

.options a:hover{
    color:rgb(221, 177, 0);
    letter-spacing: 2px;
    transform: all 0.5s;
}

.options-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.apps-logo{
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.apps-logo a{
    padding: 20px 25px;
    color: whitesmoke;
    text-decoration: none;
    transition:0.2s;
    font-size: 30px;
}

.apps-logo a:hover{
    color: #cea135;
}

.copyright{
    text-align: center;
    padding-top: 20px;
    font-size: 8px;
}









 
